.courseHeading
{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
}

.courseDesc
{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.showMore
{
    color:#008BC7; 
    font-size:18px;
    font-weight: 800;
    font-family: Nunito Sans;
    font-style: normal;
}

/* NEW TABLE */

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    
    background: #2b2b2b;
  }
  @media screen and (max-width: 580px) {
    body {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  .wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1100px;
  }
  
  .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    color: #9FA2B4;
  }

  .table td{
    color: #252733;
  }

  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #f6f6f6;
    text-align:center;
    vertical-align: center;
    border-bottom:2px solid #2980b9;
  }
  .row:nth-of-type(odd) {
    background: #f6f6f6;
  }
  .row.header {
    font-weight: 700;
    color: black;
    background: #f6f6f6;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 60px;
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #d1d9df;
  }
  @media screen and (max-width: 580px) {
    
    .row {
      padding: 14px 0 7px;
      display: block;
    }
    .row.header {
      padding: 0;
      height: 6px;
    }
    .row.header .cell {
      display: none;
    }
    .row .cell {
      margin-bottom: 10px;
      text-align:center;
    }
    .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 20px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
      text-align:center;
      margin:10px;
    
    }
  }
  
  .cell {
    padding: 6px 12px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
  }

  

/* table 2 */
.table2 {
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
  }
  @media screen and (max-width: 580px) {
    .table2 {
      display: block;
    }
  }
  
  .row2 {
    display: table-row;
    background: white;
    text-align:center;
    vertical-align: center;
  }
  .row2:nth-of-type(odd) {
    background: white;
  }
  
  .row2.header2 {
    font-weight: 600;
    color: darkgreen;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 40px;
  }
  
  @media screen and (max-width: 580px) {
   
    .row2 {
      padding: 14px 0 7px;
      display: block;
    }
    .row2.header2 {
      padding: 0;
      height: 6px;
    }
    .row2.header2 .cell1 {
      display: none;
    }
    
    .row2 .cell2 {
      margin-bottom: 10px;
      text-align:center;
    }
    .row2 .cell2:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 20px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
     
      display: block;
      text-align:center;
      margin:10px;
    
    }
  }
  
  .cell2 {
    padding: 6px 12px;
    display: table-cell;
  }

  .myImg
  {
      width: 60px;
      height: 60px;
  }

  @media screen and (max-width: 580px) {
    .cell2 {
      padding: 2px 16px;
      display: block;
    }
  }
  
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}


  .loader {
    color: #00303F;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  

.myImg
{
    height: 60%;
    width: 60%;
    margin:-10px;
}

.myCell
{
  width: 300px;
}

.form-group .form-control {
  padding-left: 2.375rem;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.myBtn
{
  background-color: #9250E5;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: -8px;
}

.selectedClass
{  
  background-color: #3450eb;
  color: #FFFFFF;
  border-radius: 0px;
}

.nonSelectedClass
{  
  background-color: #7a7b85;
  color: #FFFFFF;
  border-radius: 0px;
}

/* Color for mat-slide-toggle */
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #9250E5; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #bba8d1;  /*replace with your color*/
}
