<div class="container">
    <hr class="my-2">
    <div class="row py-2 text-center">
        <div class="col-md-12" style="font-weight: 600;">
            <img class="profile-avatar" src={{userDetails.profileUrl}} onerror="this.src='../../assets/allUsers.png'" alt="UserImage" height="100px" width="100px">
        </div>
      </div>
    <div class="row py-2 text-center">
      <div class="col-md-6" style="font-weight: 600;">
          Name : 
      </div>
      <div class="col-md-6 text-left">
          {{userDetails.fullName | titlecase}}
      </div>
    </div>
    <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            Email : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.email}}
        </div>
      </div>
      <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            Phone : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.phone}}
        </div>
      </div>
      <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            City : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.city | titlecase}}
        </div>
      </div>
      <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            State : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.state | titlecase}}
        </div>
      </div>
      <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            Gender : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.gender}}
        </div>
      </div>
      <!-- <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            Favourites : 
        </div>
        <div class="col-md-6 text-left">
            <p *ngFor="let fav of userDetails.favourites">{{fav.topicName | titlecase}}</p>
        </div>
      </div> -->
      <div class="row py-2 text-center">
        <div class="col-md-6" style="font-weight: 600;">
            Registered On : 
        </div>
        <div class="col-md-6 text-left">
            {{userDetails.creationTimeStamp | date:'mediumDate'}}
        </div>
      </div>  

    <hr class="my-2">

</div>
