<div class="wrapper " style="margin-top: 0px;">
    <div class="table2">
      <div class="row2">
      
        <div class="cell2" style="box-shadow: none;">
            <h4><u>All Users </u> </h4>
        </div>
        <div class="cell2 text-center" style="box-shadow:none;border-radius:12px">
            <div class="form-group">
          <span class="fa fa-search form-control-icon"></span>
          <input type="text" class="form-control" [(ngModel)]="filteredStatus" placeholder="Search User">
            </div>
        </div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </div> 

    <!-- <table class="table text-center" style="box-shadow: none;">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th colspan="2" style="align-self: start;">User details</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Registered On</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody  style="color:gray;font-weight: 600;">
        <tr *ngFor="let user of allUsers | nameFilter : filteredStatus| paginate :{itemsPerPage:8,currentPage:p};let i = index;">
          <th scope="row">{{i+1}}</th>
          <td class="text-right" style="width:100px;"> 
            <img class="profile-avatar" src={{user.profileUrl}} onerror="this.src='../../assets/allUsers.png'" alt="UserImage" height="50px" width="50px">
          </td>
          <td class="text-left" style="width:150px;">
              {{ user.fullName | titlecase}}
          </td>
          <td >{{ user.email }}</td>
          <td >{{ user.phone }}</td>
          <td >
            <p>{{ user.creationTimeStamp | date:'mediumDate' }}</p>              
            <p style="margin-top: -20px;color: #C5C7CD;font-weight: 400;">{{ user.creationTimeStamp | date:'shortTime' }}</p>
          </td>
          <td >
            <button (click)="showDetails(user)" class="btn"> <i class="fas fa-external-link-alt" aria-hidden="true" style="font-size: 18px;"></i> </button>
            <button (click)="openEditDialog(user)" class="btn"> <i class="fas fa-pen" aria-hidden="true" style="color: darkgreen;font-size: 18px;"></i> </button>
            <button (click)="openDeleteDialog(user._id)" class="btn"> <i class="fas fa-trash" aria-hidden="true" style="color: red;font-size: 18px;"></i> </button>
          </td>
        </tr>
      </tbody>
    </table> -->    
    <div class="table shadow p-3 mb-5">
      <div class="row header" >
        <div class="cell">
          S.No
        </div>
        <div class="cell">
        </div>
        <div class="cell">
          User Name
        </div>
        <div class="cell">
          Email
        </div>
        <div class="cell">
          Phone
        </div>
        <div class="cell">
          Registered On
        </div>
        <div class="cell">
        </div>
      </div>
      
      <div class="row" *ngFor="let user of allUsers | nameFilter : filteredStatus| paginate :{itemsPerPage:10,currentPage:p};let i = index;">
      
        <div class="cell" data-title="S.No.">
            {{i+1}}
        </div>
        <div class="cell">
          <img class="profile-avatar" src={{user.profileUrl}} onerror="this.src='../../assets/allUsers.png'" alt="UserImage" height="50px" width="50px">
        </div>
        <div class="cell" data-title="User Name">
          {{ user.fullName | titlecase}}
        </div>
        <div class="cell" data-title="Email">
          {{ user.email }}
        </div>
        <div class="cell" data-title="Phone">
          {{ user.phone }}
        </div>
        <div class="cell" data-title="Registered On">
          {{ user.creationTimeStamp | date:'mediumDate' }}
        </div>
        <div class="cell">
          <button (click)="showDetails(user)" class="btn"> <i class="fas fa-external-link-alt" aria-hidden="true" style="font-size: 18px;"></i> </button>
          <button (click)="openEditDialog(user)" class="btn"> <i class="fas fa-pen" aria-hidden="true" style="color: darkgreen;font-size: 18px;"></i> </button>
          <button (click)="openDeleteDialog(user._id)" class="btn"> <i class="fas fa-trash" aria-hidden="true" style="color: red;font-size: 18px;"></i> </button>
        </div>

      </div>
    </div>

   <!-- pagination -->
   <pagination-controls (pageChange)="p=$event"></pagination-controls>
   
  
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading user(s)...</p>
</ngx-spinner>
