<div class="container">
    <div class="row text-center" style="align-self: center;align-content: center;">
        <div class="col-md-6">
            <label for="">Category Name : </label>
        </div>
        <div class="col-md-6">
            <input type="text" name="categoryName" class="form-control" [(ngModel)]="categoryName" placeholder="Enter category name">
        </div>

        <div class="col-md-6 mt-3">
            <label for="">Category Image : </label>
        </div>
        <div class="col-md-6 mt-3">
            <input type="file" (change)="selectImage($event)"/>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-4 mt-4">
            <button type="button" (click)="createCategory()" class="btn btn-success" style="border-radius: 5px;">Submit</button>
        </div>
        <div class="col-md-4 mt-4">            
            <button type="button" (click)="closeModel()" class="btn btn-danger" style="border-radius: 5px;">Cancel</button>
        </div>        
        <div class="col-md-2"></div>
        <hr>
    </div>
</div>
  
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
