<div class="container">
    <div class="row text-center" style="align-self: center;align-content: center;">
        <div class="col-md-12">
        <h5 class="text-center" style="font-size: 21px;">{{blockMsg}}</h5>
            <div class="text-center p-2 m-2">
                <button mat-raised-button id="model-cancel-button" class="btn btn-primary m-4" (click)="unBlockUser()">Confirm</button>
                <button mat-raised-button id="model-cancel-button" class="btn btn-danger m-4" (click)="closeModel()">Cancel</button>
            </div>
        </div>        
    </div>
</div>
