<div class="wrapper mt-2">
    <div class="table2 ">
        <div class="row2">
            <div class="cell2" style="box-shadow: none;">
                <h4><u>All Transactions </u> </h4>
            </div>
            <div class="cell2 text-lg-right" style="box-shadow:none;border-radius:12px;padding-left: 200px;">
                <div class="form-group">
                    <span class="fa fa-search form-control-icon"></span>
                    <input type="text" class="form-control" [(ngModel)]="filteredStatus"
                        placeholder="Search Transaction by name">
                </div>
            </div>
        </div>
    </div>

    <div class="table shadow p-3 mb-5">
        <div class="row header">
            <div class="cell">
                S.No
            </div>
            <div class="cell">
                Studio Name
            </div>
            <!-- <div class="cell">
                User Name
            </div> -->
            <div class="cell">
                User Email
            </div>
            <div class="cell">
                Amount
            </div>
            <div class="cell">
                Status
            </div>
            <div class="cell">
                Discount Type
            </div>
            <div class="cell">
                Transaction Date
            </div>
        </div>

        <div class="row" *ngFor="let transaction of allTransactions | nameFilter : filteredStatus | paginate :{itemsPerPage:10,currentPage:p};let i = index;">

            <div class="cell" data-title="S.No.">
                {{i+1}}
            </div>
            <div class="cell" data-title="Studio Name">
                {{ transaction.studioName }}
            </div>
            <!-- <div class="cell" data-title="User Name">
                {{ transaction.userName | titlecase }}
            </div> -->
            <div class="cell" data-title="User Email">
                {{ transaction.userEmail }}
            </div>
            <div class="cell" data-title="Amount">
                {{ transaction.amount | currency:'INR' }}
            </div>
            <div class="cell" data-title="Status" style="font-weight: 500;">
                {{ transaction.transactionStatusValue | uppercase }}
            </div>
            <div class="cell" data-title="Discount Type">
                {{ transaction.discountType }}
            </div>
            <div class="cell" data-title="Transaction Date">
                {{ transaction.creationTimeStamp | date:'mediumDate' }}
            </div>
        </div>
    </div>
    <!-- pagination -->
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
