<div class="wrapper mt-2">
    <div class="table2 ">
        <div class="row2">
            <div class="cell2" style="box-shadow: none;">
                <h4><u>All Sub-Admins </u> </h4>
            </div>
            <div class="cell2 text-lg-left" style="box-shadow:none;border-radius:12px;padding-left: 80px;">
                <div class="form-group">
                    <span class="fa fa-search form-control-icon"></span>
                    <input type="text" class="form-control" [(ngModel)]="filteredStatus"
                        placeholder="Search Sub-Admin by name">
                </div>
            </div>

            <div class="cell2" style="box-shadow:none;border-radius:12px">
                <button routerLink="/admin/sub-admins/create" class="btn myBtn mb-1"><i class="fas fa-plus"></i> Add Sub-Admin</button>
            </div>
        </div>
    </div>

    <div class="table shadow p-3 mb-5">
        <div class="row header">
            <div class="cell">
                S.No
            </div>
            <div class="cell">
               Full Name
            </div>
            <div class="cell">
                Email
            </div>
            <div class="cell">
                Created On
            </div>
            <div class="cell">
            </div>
            <div class="cell">
            </div>
        </div>

        <div class="row" *ngFor="let subAdmin of allSubAdmins | nameFilter : filteredStatus | paginate :{itemsPerPage:10,currentPage:p};let i = index;">

            <div class="cell" data-title="S.No.">
                {{i+1}}
            </div>
            <div class="cell" data-title="Full Name">
                {{ subAdmin.firstName | titlecase }}  {{ subAdmin.lastName | titlecase }}
            </div>
            <div class="cell" data-title="Email">
                {{ subAdmin.email }}
            </div>
            <div class="cell" data-title="Transaction Date">
                {{ subAdmin.creationTimeStamp | date:'medium' }}
            </div>
            <div class="cell" routerLink="/admin/sub-admins/edit/{{subAdmin._id}}">
                <i class="fas fa-pen" aria-hidden="true" style="cursor:pointer;color:darkgreen;font-size: 18px;"></i>
            </div>
            <div class="cell">
                <i (click)="deleteSubAdminDialog(subAdmin._id)" class="fas fa-trash" aria-hidden="true" style="cursor:pointer;color:rgb(221, 17, 17);font-size: 18px;"></i>
             </div>
        </div>
    </div>
    <!-- pagination -->
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
