<div class="container">
    <div class="row text-left mt-4">
        <h4>Studio Details :-</h4>
    </div>
    <div class="row mt-4">
        <div class="col-md-5 mb-5">
            <div class="row">
                <label for="">Studio Name </label>
                <div class="col-md-12">
                    <p>{{studioDetails.fullName}}</p>
                </div>
            </div>
            <div class="row">
                <label for="">Total Area </label>
                <div class="col-md-12">
                    <p>{{studioDetails.area}} Sq.Ft</p>
                </div>
            </div>
            <div class="row">
                <label for="">Number Of Rooms </label>
                <div class="col-md-12">
                    <p>{{studioDetails.totalRooms}}</p>
                </div>
            </div>
            <div class="row">
                <label for="">Number Of Guests </label>
                <div class="col-md-12">
                    <p>{{studioDetails.maxGuests}}</p>
                </div>
            </div>
            <div class="row">
                <label for="">Studio City </label>
                <div class="col-md-12">
                    <p>{{studioDetails.city | titlecase}}</p>
                </div>
            </div>
            <div class="row">
                <label for="">Studio State </label>
                <div class="col-md-12">
                    <p>{{studioDetails.state | titlecase}}</p>
                </div>
            </div>
            <div class="row mt-2 ">
                <label for="">Studio Full Address</label>
                <div class="col-md-12">
                    <p>{{studioDetails.address}}</p>
                </div>              
            </div>
            <div class="row">
                <label for="">Studio Pincode </label>
                <div class="col-md-12">
                    <p>{{studioDetails.pincode}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <label for="">Rooms</label>
            </div>
            <!-- <div class="row">
                <div class="col-md-4" *ngFor="let singleRoom of allRooms;">
                    <button class="text-center btn mb-1" type="button" style="color: white; background-color: #F92162; border-radius: 10px;width: 120px;" (click)="addRoomDetails(singleRoom)">Room {{singleRoom.roomId}}</button>
                </div>
            </div> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 mb-5">
            <div class="row">
                <label for="">Studio Photos</label>
            </div>
            <div class="row p-3 text-center" style="background-color: rgb(236, 233, 233); border-radius: 10px;">
                <div class="col-md-12 mb-1" *ngFor="let singleImg of studioDetails.studioPhotos;">
                    <img src={{singleImg}} onerror="this.src='../../assets/banner.jfif'" alt="StudioImage" height="180px" width="260px">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label for="">Amenities </label>
                </div>
                <div class="col-md-4" *ngFor="let amenity of studioDetails.amenities;">
                    <p>* {{amenity.name}}</p>
                </div>
            </div>
            <div class="row mt-3 pl-3">
                <label for="">About Studio</label>
                <div class="col-md-12">
                    <p>{{studioDetails.aboutUs.aboutUs}}</p>
                </div>
            </div>
            <div class="row mt-2 pl-3">
                <label for="">Studio Services</label>
                <div class="col-md-12">
                    <p>{{studioDetails.aboutUs.services}}</p>
                </div>
            </div>
            <div class="row mt-2 pl-3">
                <label for="">Studio Infrastructure</label>
                <div class="col-md-12">
                    <p>{{studioDetails.aboutUs.infrastructure}}</p>
                </div>
            </div>
            <!-- <div class="row mt-2 pl-3">
                <div class="col-md-12">
                    <label for="">Add Team Members</label>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6" *ngFor="let member of allMembers">
                            <button class="text-center btn m-1" type="button" style="color: white; background-color: #F92162; border-radius: 10px;width: 120px;" (click)="addMemberDetails(member)">Member {{member.id}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-secondary mt-1" style="border-radius: 8px;font-weight: 480;" (click)="addTeamMember()" type="button">Add More</button>
                </div>
            </div> -->
        </div>
    </div>
           
    <!-- <div class="row my-5">
        <button class="btn btn-success mr-3 mt-1 col-md-1" [disabled]="!form.valid" type="submit" style="color: white;"> Save</button>
     </div> -->
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please Wait...</p>
</ngx-spinner>
