<div class="container text-center">
    <hr class="my-3">
    
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Room Name : </label>
        </div>
        <div class="col-md-7">
            <p>{{roomDetails.roomName}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Area : </label>
        </div>
        <div class="col-md-7">
            <p>{{roomDetails.area}} Sq.Ft</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="username">Details : </label>
        </div>
        <div class="col-md-7">
            {{roomDetails.details.join(', ')}}    
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="username">Amenities : </label>
        </div>
        <div class="col-md-7">
            {{roomDetails.amenities.join(', ')}}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Price Per Hour : </label>
        </div>
        <div class="col-md-7">
            <p>{{roomDetails.pricePerHour | currency:'INR'}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Discount % : </label>
        </div>
        <div class="col-md-7">
            <p>{{roomDetails.discountPercentage}}%</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Booking Days : </label>
        </div>
        <div class="col-md-7">
            {{roomDetails.mappedBookingDays}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">General Time : </label>
        </div>
        <div class="col-md-7">
            {{roomDetails.generalTime.startTime}}-{{roomDetails.generalTime.endTime}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="username">Booking Time : </label>
        </div>
        <div class="col-md-7">
            {{roomDetails.mappedAvailabilities}}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Photos : </label>
        </div>
        <div class="col-md-7">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 mb-1" *ngFor="let singleImg of roomDetails.roomPhotos;">
            <img src={{singleImg}} onerror="this.src='../../assets/banner.jfif'" alt="RoomImage" height="145px" width="225px">
        </div>
    </div>

    <hr class="my-3">
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
