<div *ngIf="isLoggedIn">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div style="border-right: 2px solid lightgray;" id="sidebar-wrapper">
      <div class="sidebar-heading mt-lg-3 mb-lg-2 text-center">
        <!-- <img src="../assets/appLogo.png" width="135px" height="40px" alt=""> -->
        <h3 class="mt-3">Choira Studio</h3>
      </div>
      <div class="list-group list-group-flush mt-lg-3 ">
        <a routerLink="/admin/dashboard" routerLinkActive='selected' style="font-size: 17px;width: 100%;"
          class="pl-lg-4 py-lg-3">
          <i class="fas fa-th-large"></i>&nbsp;
          Dashboard
        </a>
        <a *ngIf="(permObj.SubAdmins!=undefined && permObj.SubAdmins==true)" routerLink="/admin/sub-admins"
          routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i
            class="fas fa-user-shield"></i> &nbsp;Sub-Admins</a>
        <a *ngIf="(permObj.Users!=undefined && permObj.Users==true)" routerLink="/admin/all-users"
          routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i
            class="fas fa-book-open"></i> &nbsp;Users List</a>
        <a *ngIf="(permObj.Studios!=undefined && permObj.Studios==true)" routerLink="/admin/studios"
          routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i
            class="fab fa-typo3"></i> &nbsp; Studios</a>
        <a *ngIf="(permObj.Discounts!=undefined && permObj.Discounts==true)" routerLink="/admin/discounts"
          routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i
            class="fab fa-first-order"></i> &nbsp; Discounts</a>
        <a *ngIf="(permObj.Bookings!=undefined && permObj.Bookings==true)"
          style="font-size: 17px;width: 100%;text-decoration: none;margin-bottom: -24px;" class="pl-lg-4 py-lg-3">
          <p>
            <i class="fas fa-user-clock"></i> &nbsp;Bookings
          </p>
          <ul style="margin-top: -8px;">
            <li style="padding: 4px;">
              <a routerLink="/admin/bookings/active" class="py-1 pl-2 pr-4"
                routerLinkActive='selectedSubList'>Active</a>
            </li>
            <li style="padding: 4px;">
              <a routerLink="/admin/bookings/completed" class="py-1 pl-2 pr-4"
                routerLinkActive='selectedSubList'>Completed</a>
            </li>
            <li style="padding: 4px;">
              <a routerLink="/admin/bookings/cancelled" routerLinkActive='selectedSubList'
                class="py-1 pl-2 pr-4">Cancelled</a>
            </li>
          </ul>
        </a>
        <a *ngIf="(permObj.Transactions!=undefined && permObj.Transactions==true)" routerLink="/admin/transactions"
          routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i
            class="fas fa-credit-card"></i> &nbsp;Transactions</a>
        <!-- <a *ngIf="(permObj.Notifications!=undefined && permObj.Notifications==true)" routerLink="/admin/send-notifications" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fas fa-bell"></i> &nbsp;Notifications</a> -->
        <a routerLink="/admin/all-owners" routerLinkActive='selected' style="font-size: 17px;width: 100%;"
          class="pl-lg-4 py-lg-3"><i class="fas fa-briefcase"></i> &nbsp;Owners</a>
          <a routerLink="/admin/slot" routerLinkActive='selected' style="font-size: 17px;width: 100%;"
          class="pl-lg-4 py-lg-3"><i class="fa fa-calendar"></i> &nbsp;Slots</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light1" style="border-bottom: 2px solid lightgray;">

        <div class="text-center pl-lg-5 py-lg-2">
          <!-- <h2 class="myText">Admin Panel</h2> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar = !toggleNavbar"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a style="font-weight:600;color:black; font-size: 18px;" class="nav-link" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell" style="color: red;"></i>
                <span class="badge badge-pill badge-secondary position-absolute block"
                  style="top: 0; right: 0; font-size: 50%">{{allNotifications?.length}}</span>
              </a>

              <div class="dropdown-menu notification-dropdown dropdown-menu-right">
                <ng-container *ngFor="let n of allNotifications; let i = index">
                  <div class="dropdown-item" style="cursor: pointer;" aria-hidden="true"
                    (click)="$event.stopPropagation();">
                    <div class="row">
                      <div class="col-11">
                        <p class="mb-0" style="font-size: 15px; font-weight: 600;color: #ffc701;">{{n.title}}</p>
                        <p class="mb-0" style="font-size: 13px;font-weight: 500;">{{n.message}}</p>
                      </div>
                      <div class="position-relative">
                        <a href="javascript:void(0)" role="button" class="position-absolute" (click)="deleteNotification(n._id)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                          </svg>
                        </a>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col align-self-end time-label">
                        <span>{{n.notificationDate | timeAgo}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider" *ngIf="allNotifications.length -1 !== i"></div>
                </ng-container>
                <div *ngIf="!allNotifications.length" class="dropdown-nodata-item" style="font-weight:600;cursor: pointer;" aria-hidden="true" (click)="$event.stopPropagation();">
                  <h6 style="color: #9b9b9b;">No data to show</h6>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a *ngIf="adminId!=undefined" style="font-weight:600;color:black;" class="nav-link dropdown-toggle"
                href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{firstName | titlecase}} {{lastName | titlecase }} <img src={{adminImage}}
                  onerror="this.src='../assets/welcomeProfile.jpg'" style="border-radius:10px" height="30px"
                  width="36px">
              </a>
              <a *ngIf="subAdminEmail!=undefined" style="font-weight:600;color:black;" class="nav-link dropdown-toggle"
                href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{firstName | titlecase}} {{lastName | titlecase }} <img src={{subAdminImage}}
                  onerror="this.src='../assets/welcomeProfile.jpg'" style="border-radius:10px" height="30px"
                  width="36px">
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" style="font-weight: 600;color: black;" routerLink="/admin/profile"><i
                    class="fa fa-user-circle" aria-hidden="true"></i> &nbsp; Profile </a>
                <div class="dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item" href="#" style="font-weight: 600; color: black;"><i
                    class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
<div *ngIf="!isLoggedIn">
  <app-login-user></app-login-user>
</div>