
<div *ngIf="isLoggedIn">
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div style="border-right: 2px solid lightgray;" id="sidebar-wrapper">
    <div class="sidebar-heading mt-lg-3 mb-lg-2 text-center">
      <!-- <img src="../assets/Group 12(1).png" width="135px" height="40px" alt=""> -->
      <h3 class="mt-3">Choira Studio</h3>
    </div>
    <div class="list-group list-group-flush mt-lg-3 ">
      <a routerLink="/admin/dashboard" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3">
        <i class="fas fa-th-large"></i>&nbsp;
        Dashboard
      </a>
      <a routerLink="/admin/sub-admins" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fas fa-user-shield"></i> &nbsp;Sub-Admins</a>
      <a routerLink="/admin/all-users" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fas fa-book-open"></i> &nbsp;Users List</a>
      <a routerLink="/admin/studios" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fab fa-typo3"></i> &nbsp; Studios</a>
      <a routerLink="/admin/discounts" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fab fa-first-order"></i> &nbsp; Discounts</a>
      <a style="font-size: 17px;width: 100%;text-decoration: none;margin-bottom: -24px;" class="pl-lg-4 py-lg-3">
        <p>
          <i class="fas fa-user-clock"></i> &nbsp;Bookings
        </p>
        <ul style="margin-top: -8px;">
          <li style="padding: 4px;" >
            <a routerLink="/admin/bookings/active" class="py-1 pl-2 pr-4" routerLinkActive='selectedSubList' >Active</a>
          </li>
          <li style="padding: 4px;">
            <a routerLink="/admin/bookings/completed" class="py-1 pl-2 pr-4" routerLinkActive='selectedSubList' >Completed</a>
          </li>
          <li style="padding: 4px;">
            <a routerLink="/admin/bookings/cancelled" routerLinkActive='selectedSubList' class="py-1 pl-2 pr-4">Cancelled</a>
          </li>
        </ul>
      </a>    
      <a routerLink="/admin/transactions" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fas fa-credit-card"></i> &nbsp;Transactions</a>    
      <a routerLink="/admin/send-notifications" routerLinkActive='selected' style="font-size: 17px;width: 100%;" class="pl-lg-4 py-lg-3"><i class="fas fa-bell"></i> &nbsp;Notifications</a>
      
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light1" style="border-bottom: 2px solid lightgray;">
     
      <div class="text-center pl-lg-5 py-lg-2">
      <h2 class="myText">Admin Panel</h2>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar = !toggleNavbar" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <!-- <a class="nav-link" style="font-weight: 600;" routerLink="/admin/dashboard">Home <span class="sr-only">(current)</span></a> -->
          </li>
       
          <li class="nav-item dropdown">
            <a *ngIf="adminId!=undefined" style="font-weight:600;color:black;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{firstName | titlecase}} {{lastName | titlecase }} <img src={{adminImage}} onerror="this.src='../assets/welcomeProfile.jpg'" style="border-radius:10px" height="30px" width="36px">
            </a>
          
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="font-weight: 600;color: black;" routerLink="/admin/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp; Profile </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item" href="#" style="font-weight: 600; color: black;"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
              <router-outlet></router-outlet>
          </div>
         </div>

     </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
</div>
<div *ngIf="!isLoggedIn">
  <app-login-user></app-login-user>
</div>

