<div class="container">
    <div class="row text-center" style="align-self: center;align-content: center;" *ngIf="displayMode==0">
        <div class="col-md-6">
            <button (click)="changeToBan()" class="btn btn-primary" style="border-radius: 6px;">Permanent Ban</button>
        </div>
        <div class="col-md-6">
            <button (click)="changeToSuspension()" class="btn btn-primary" style="border-radius: 6px;">Temporary Suspension</button>
        </div>
    </div>
    <div class="row text-center" style="align-self: center;align-content: center;" *ngIf="displayMode==1">
        <div class="col-md-6">
            <label for="">No. of days to suspend : </label>
        </div>
        <div class="col-md-6">
            <input type="text" name="daysOfSuspension" class="form-control" [(ngModel)]="daysOfSuspension" placeholder="Enter number of days">
        </div>
        <div class="col-md-12 mt-3">
            <button type="button" (click)="suspendUser()" class="btn btn-success" style="border-radius: 5px;">Submit</button>
        </div>
        <hr>
    </div>
    <div class="row text-center" style="align-self: center;align-content: center;" *ngIf="displayMode==2">
        <div class="col-md-12">
        <h5 class="text-center" style="font-size: 21px;">Are you sure you want to permanently ban this User?</h5>
            <div class="text-center p-2 m-2">
                <button mat-raised-button id="model-cancel-button" class="btn btn-primary m-4" (click)="banUser()">Confirm</button>
                <button mat-raised-button id="model-cancel-button" class="btn btn-danger m-4" (click)="closeModel()">Cancel</button>
            </div>
        </div>        
    </div>
</div>