<div class="text-center my-3">
    <h2><u> All Topic Chats </u></h2>
</div>
<div class="container mt-2"  #content style="overflow: auto; min-height: 1px; max-height: 420px;" >
    <!-- <div *ngFor="let msg of allMessages">
       <div class="row" #messages >
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start mb-4" >
           
            <h4 class="userMessage shadow p-3 mt-2" > 
                {{msg.comment}}      
                <p style="font-size: 10px; margin-bottom: -8px;">{{msg.createdAt | date:'medium'}}</p>
            </h4>        
           
        </div>
        <div class="col-md-2"></div>
      </div>
    </div> -->
    <div class="row mb-2" *ngFor="let msg of allMessages">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="border: 1px solid darkgrey; border-radius: 7px;">   
            <div class="row">  
            <div class="col-md-1 text-center" >
                <div class="rounded-circle p-2 mt-1" style="background-color: green;color: white;width: 40px;margin-left: -5px;">
                    {{msg.username[0] | titlecase}}
                </div>
            </div>
            <div class="col-md-8" >
                <p style="margin-bottom: 0px;">{{msg.username | titlecase}}</p>
                <p style="margin-bottom: 8px;color: rgb(150, 148, 148);font-size: 14px;">{{msg.comment}} </p>
            </div>
            <div class="col-md-3 text-center">
                <p style="font-size: 12px;margin-bottom: 1px;">{{msg.createdAt | date:'medium'}}</p>
                <span class="mr-lg-5"><i class="fas fa-thumbs-up" style="color:#9250E5"></i> {{msg.newLikeCount}}</span>
                <span><i class="fas fa-thumbs-down" style="color:#9250E5"></i> {{msg.newDisLikeCount}}</span>
                
            </div>
            <!-- <div class="col-md-1"></div> -->
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row d-flex justify-content-center mt-4 " #messages *ngIf="allMessages.length==0">
        <h4>**No Messages** </h4>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please Wait...</p>
</ngx-spinner>
  

<!-- <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="border: 1px solid darkgrey; border-radius: 7px;">   
            <div class="row">  
            <div class="col-md-1 text-center">
                <div class="rounded-circle p-2 mt-1" style="background-color: green;color: white;">
                    S
                </div>
            </div>
            <div class="col-md-8">
                <p style="margin-bottom: 0px;">Samarth Chadda</p>
                <p style="margin-bottom: 8px;color: rgb(150, 148, 148);">My new Comment</p>
            </div>
            <div class="col-md-2">
                13 days ago
                <br>
                <span class="mr-lg-5"><i class="fas fa-thumbs-up" style="color:#9250E5"></i> 7</span>
                <span><i class="fas fa-thumbs-down" style="color:#9250E5"></i> 9</span>
                
            </div>
            <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div> -->