<div class="wrapper mt-2">
    <div class="table2 " >                                           
      <div class="row2">
      
        <div class="cell2" style="box-shadow: none;">
            <h4><u>All Feedbacks </u> </h4>
        </div>
        <div class="cell2 text-center" style="box-shadow:none;border-radius:12px">
            <div class="form-group">
                <span class="fa fa-search form-control-icon"></span>
                <input type="text" class="form-control" [(ngModel)]="filteredStatus" placeholder="Search Feedback">   
            </div>
        </div>
        <div class="cell2" style="box-shadow:none;border-radius:12px">

        </div>
        <div class="cell2" style="box-shadow:none;border-radius:12px">

        </div>
        
      </div>
    </div> 

    <div class="table shadow p-3 mb-5">
      
      <div class="row header" >
        
        <div class="cell">
          S.No
        </div>
        <div class="cell">
          UserName
        </div>
        <div class="cell">
          Email
        </div>
        <div class="cell">
          Phone
        </div>
        <div class="cell">
          Message
        </div>
        <div class="cell">
          Created On
        </div>
      </div>
      
      <div class="row" *ngFor="let cat of allFeedbacks | feedbackFilterPipe : filteredStatus | paginate :{itemsPerPage:10,currentPage:p};let i = index;">
      
        <div class="cell" data-title="S.No.">
            {{i+1}}
        </div>
        <div class="cell" data-title="UserName">
            {{ cat.userData.userName | titlecase }}
        </div>
        <div class="cell" data-title="Email">
            {{ cat.userData.email }}
        </div>
        <div class="cell" data-title="Phone">
            {{ cat.userData.phone.replace("_","") }}
        </div>
        <div class="cell" data-title="Message">
            {{ cat.message }}
        </div>
        <div class="cell" data-title="Created On">
            {{ cat.creationTimeStamp | date:'mediumDate' }}
        </div>
      </div>
    </div>
    <!-- pagination -->
    <pagination-controls (pageChange)="p=$event" ></pagination-controls>
 </div> 

  
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
