<div class="container text-center">
    <hr class="my-3">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Room Name : </label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" formControlName="roomName" placeholder="Enter room name" required>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Area : </label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" formControlName="area" placeholder="Enter area" required>
        </div>
    </div>

    <!-- Now, here we want the user to dynamically add the formControls -->
    <div class="row mt-3" formArrayName="details">
        <div class="col-md-5">
            <label for="username">Details : </label>
        </div>
        <div class="col-md-7">
            <div class="row mt-1" *ngFor="let detailControl of getControlsDetails(); let i = index;">
                <div class="col-md-10">
                    <!-- <div class="form-group" *ngFor="let detailControl of getControls(); let i = index;"> -->
                        <input type="text" class="form-control" [formControlName]="i">
                      <!-- </div> -->
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger rounded-circle" style="border-radius: 8px;color: white;font-weight: 480;" type="button" (click)="onRemoveDetails(i)">X</button>
                </div>
            </div>
            <button class="btn btn-outline-secondary mt-1" style="border-radius: 8px;font-weight: 480;" type="button" (click)="onAddDetails()">Add Detail</button>         
          </div>
    </div>

    <div class="row mt-3" formArrayName="amenities">
        <div class="col-md-5">
            <label for="username">Amenities : </label>
        </div>
        <div class="col-md-7">
            <div class="row mt-1" *ngFor="let amenityControl of getControlsAmenities(); let i = index;">
                <div class="col-md-10">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger rounded-circle" style="border-radius: 8px;color: white;font-weight: 480;" type="button" (click)="onRemoveAmenities(i)">X</button>
                </div>
            </div>
            <button class="btn btn-outline-secondary mt-1" style="border-radius: 8px;font-weight: 480;" type="button" (click)="onAddAmenities()">Add Amenity</button>
          </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Price Per Hour : </label>
        </div>
        <div class="col-md-7">
            <input type="number" step="any" class="form-control" formControlName="pricePerHour" placeholder="Enter price per hour" 
                min="0" max="500000" oninput="validity.valid||(value='');" required >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Discount % : </label>
        </div>
        <div class="col-md-7">
            <input type="number" step="any" class="form-control" formControlName="discountPercentage" placeholder="Enter discount percentage" 
                min="0" max="100" oninput="validity.valid||(value='');" required >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Booking Days : </label>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4 text-left" *ngFor="let day of allDaysList">
                    <input class="form-check-input ml-2 checkmark"  type="checkbox" id="gridCheck1" name="day" [value]="day.id" (change)="dataBookingDays($event,day)" #checkBox>
                    <label style="color: #212529;font-weight:400;margin-top: -10px;" class="form-check-label ml-4" for="gridCheck1">
                      {{day.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">General Time : </label>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-3">
            <input type="time" class="form-control" formControlName="generalStartTime" placeholder="Enter general start time" required >
        </div>
        <div class="col-md-3">
            <input type="time" class="form-control" formControlName="generalEndTime" placeholder="Enter general end time" required >
        </div>
    </div>
    <div class="row mt-3" formArrayName="availabilities">
        <div class="col-md-5">
            <label for="username">Booking Time : </label>
        </div>
        <div class="col-md-7">
            <div class="row mt-1" *ngFor="let child of getControlsAvailabilities(); let i = index;">
                <div class="col-md-5">
                    <div class="form-group" formGroupName="{{i}}">
                        <input formControlName="startTime" 
                               class="form-control checking-field" 
                               placeholder="Enter start time" type="time">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" formGroupName="{{i}}">
                        <input formControlName="endTime" 
                               class="form-control checking-field" 
                               placeholder="Enter start time" type="time">
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger rounded-circle" style="border-radius: 8px;color: white;font-weight: 480;" type="button" (click)="onRemoveAvailabilities(i)">X</button>
                </div>
            </div>
            <button class="btn btn-outline-secondary mt-1" style="border-radius: 8px;font-weight: 480;" type="button" (click)="onAddAvailabilities()">Add More</button>         
          </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-5">
            <label for="">Photos : </label>
        </div>
        <div class="col-md-7">
            <input type="file" class="form-control" (change)="selectImages($event)" multiple name="roomImages" placeholder="Enter room images" required >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 mb-1" *ngFor="let singleImg of roomDetails.roomPhotos;">
            <img src={{singleImg}} onerror="this.src='../../assets/banner.jfif'" alt="RoomImage" height="250px" width="320px">
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <!-- <div class="col-md-1"></div> -->
        <div class="d-grid col-6 mx-auto">
            <button type="button" class="btn btn-secondary btn-block" style="border-radius: 15px;" (click)="closeModel()">Cancel</button>
        </div>
        <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-success btn-block" style="border-radius: 15px;" [disabled]="!signupForm.valid">Submit</button>
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div>
    </form>
    <hr class="my-3">
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
