
<div class="row mt-4">
  <div class="col-md-4 mb-3">
    <div class="card text-center mx-3 o-hidden h-100" style="border-radius: 8px;background-color: #9250E5;margin-bottom: -10px;">
      <div class="card-body">
        <p class="countStyle">{{totalUsers}}</p>
        <p class="tagStyle"><i class="fas fa-user-circle"></i> Users</p>
      </div>
      
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center mx-3 o-hidden h-100" style="border-radius: 8px;background-color: #9250E5;margin-bottom: -10px;">
      <div class="card-body">
        <p class="countStyle">{{totalAdminTopics}}</p>
        <p class="tagStyle"><i class="fas fa-list-alt"></i> Studios Count</p>
      </div>
      
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center mx-3 o-hidden h-100" style="border-radius: 8px;background-color: #9250E5;margin-bottom: -10px;">
      <div class="card-body">
        <p class="countStyle">{{totalUserTopics}}</p>
        <p class="tagStyle"><i class="fas fa-mail-bulk"></i> Bookings Count</p>
      </div>
      
    </div>
  </div>
 
</div>
