<div class="wrapper mt-2">
    <div class="table2 " >                                           
      <div class="row2">
      
        <div class="cell2" style="box-shadow: none;">
            <h4><u>All Studios </u> </h4>
        </div>
        <div class="cell2 text-center" style="box-shadow:none;border-radius:12px">
            <div class="form-group">
                <span class="fa fa-search form-control-icon"></span>
                <input type="text" class="form-control" [(ngModel)]="filteredStatus" placeholder="Search Studio">   
            </div>
        </div>
  
        <div class="cell2" style="box-shadow:none;border-radius:12px">
          <button routerLink="/admin/studios/create" class="btn myBtn mb-1"><i class="fas fa-plus"></i> Add Studio</button>
        </div>

      </div>
    </div> 

    <div class="table shadow p-3 mb-5">
      
      <div class="row header" >
        
        <div class="cell">
          S.No
        </div>
        <div class="cell">
        </div>
        <div class="cell">
          Studio Name
        </div>
        <div class="cell">
          Location
        </div>
        <div class="cell">
          Rooms
        </div>
        <div class="cell">
          Created On
        </div>      
        <div class="cell">
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
      </div>
      
      <div class="row" *ngFor="let studio of allStudios | nameFilter : filteredStatus | paginate :{itemsPerPage:6,currentPage:p};let i = index;">
      
        <div class="cell" data-title="S.No.">
            {{i+1}}
        </div>
        <div class="cell">
          <img class="profile-avatar rounded-circle" src={{studio.studioPhotos[0]}} onerror="this.src='../../assets/topicImage.PNG'" alt="StudioImage" height="65px" width="70px">
        </div>
        <div class="cell" data-title="Studio Name">
            {{ studio.fullName | titlecase }}
        </div>
        <div class="cell" data-title="Location">
            {{ studio.city | titlecase }}, {{ studio.state | titlecase }},
        </div>
        <div class="cell" data-title="Max. Guests">
            {{ studio.maxGuests }}
        </div>
        <div class="cell" data-title="Created On">
            {{ studio.creationTimeStamp | date:'mediumDate' }}
        </div>
        <div class="cell">
            <i (click)="showDetailsDialog(studio)" class="fas fa-external-link-alt" aria-hidden="true" style="cursor:pointer;color:darkblue;font-size: 18px;"></i>
        </div>
        <div class="cell">
            <i  class="fas fa-pen" aria-hidden="true" style="cursor:pointer;color:darkgreen;font-size: 18px;"></i>
        </div>
        <div class="cell">
            <i (click)="deleteStudioDialog(studio._id)" class="fas fa-trash" aria-hidden="true" style="cursor:pointer;color:rgb(221, 17, 17);font-size: 18px;"></i>
         </div>

      </div>
    </div>   
    <!-- pagination -->
    <pagination-controls (pageChange)="p=$event" ></pagination-controls>
 </div> 

  
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
