/* You can add global styles to this file, and also import other style files */

.custom-container .mat-dialog-container {
    border-radius: 20px !important;
}

.custom-container1 .mat-dialog-container {
    border-radius: 10px !important;
    height: fit-content;
}
